$color-green: #0066ff;

.fillInfoUser {
  margin: 20px auto auto 180px;
  @media (max-width: 1600px) {
    width: 90%;
    margin: 20px auto auto 180px;
  }
}

.formRadio {
  display: flex;
  margin-top: 20px;
  .label {
    text-align: right;
    min-width: 200px;
    font-weight: 500;
    margin-right: 40px;
    margin-left: 150px;
  }
}
.fromGroup {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  margin-top: 20px;
  max-width: 600px;
  margin-left: 150px;
}
.formItem {
  align-items: center;
  margin-bottom: 18px;
  width: 100%;
}
.buttonContainer {
  justify-content: end;
  width: 600px;
  display: flex;
  gap: 20px;
  margin: 20px 0px;
}
.buttonModal {
  margin-left: 200px;
  width: auto;
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.buttonModal {
  justify-content: center;
  margin-top: 50px;
}

.formLogin {
  position: relative;
  margin-top: 6px;
  .formError {
    color: var(--color-error-5);
    margin-top: 5px;
    position: absolute;
  }
}
.formTitle {
  width: 700px;
  justify-content: end;
  display: flex;
  align-items: center;
  margin: 24px 0;
}
.formInput {
  border: 1px solid #eeeeee;
  border-radius: 12px;
  padding: 16px;
  width: 400px;

  @media (max-width: 600px) {
    width: 100%;
  }
  &[type='text'] {
    padding-left: 40px;
  }
  &[type='password'] {
    padding-left: 40px;
  }
  &:focus-visible {
    outline: none;
  }
}

.formIcon {
  position: absolute;
  left: 10px;
  top: 15px;
}
.formIconHidePass {
  width: 20px;
  height: 17px;
  position: absolute;
  top: 15px;
  left: 370px;
  cursor: pointer;
  // fill: #696984;
}

.formRegister {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 12px;
  span {
    margin-left: 16px;
  }
  .textRegister {
    color: $color-green;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
.haveAccount {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  span {
    margin-left: 16px;
  }
  .textRegister {
    color: $color-green;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
//   }
// }
.descCreatePass {
  margin-top: 20px;
  line-height: 22px;
  color: var(--color-text-2);
}
