.input {
    width: 200px;
}
.form {
    width: 500px;
}
.formItem {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 18px;
}
.buttonContainer {
    width: 400px;
    display: flex;
    justify-content: space-around;
}
.label {
    margin-right: 18px;
}
