.Search {
  position: relative;
  width: 100%;
  margin: 0px;
  .InputSearch {
    border: 1px solid transparent;
    padding: 10px 24px;
    border-radius: 8px;
    background-color: white;
    width: 100%;
    &[type='text'] {
      padding-left: 40px;
    }
    &:focus-visible {
      outline: none;
    }
    &:focus {
      border: 1px solid var(--color-brand);
    }
  }

  .IconSearch {
    position: absolute;
    top: 11px;
    left: 12px;
  }
  .suffix {
    position: absolute;
    top: 15px;
    right: 12px;
    color: var(--color-text-blue-3);
    background: var(--color-text-gray-200);
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
  }
}
